/* Base styles for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 20px;
  }
  
  /* Hide the default checkbox */
  .toggle-switch-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Label that styles the toggle */
  .toggle-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: relative;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Inner part of the toggle for the "on/off" state background */
  .toggle-switch-inner {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* The switch circle */
  .toggle-switch-switch {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    transition: transform 0.3s ease-in-out;
  }
  
  /* When the checkbox is checked */
  .toggle-switch-input:checked + .toggle-switch-label {
    background-color: var(--first-color)
  }
  
  .toggle-switch-input:checked + .toggle-switch-label .toggle-switch-switch {
    transform: translateX(20px); /* Moves the circle */
  }
  