.about-us-bg{
  margin: 5rem auto 0 auto;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; /* Adds hyphens for long words */
  margin-bottom: 1rem; /* Add margin to separate paragraphs */
}

.text-justify {
  text-align: justify;
}

/* General styles for sections */
.section {
  padding: 2rem 1rem; /* Add padding to sections */
  margin-bottom: 2rem; /* Add margin to separate sections */
  box-sizing: border-box;
}

/* Flexbox layout for sections */
.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add gap between sections */
}

/* Responsive styles */
@media (min-width: 768px) {
  .section-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section {
    flex: 1 1 100%; /* One section per row on mobile screens */
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .section {
    flex: 1 1 calc(50% - 1rem); /* Two sections per row with gap on large screens */
  }
}

/* Styles for the contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-control {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0056b3;
  }
}