.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 450px;
  max-width: 850px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: var(--first-color) solid 1px;
}
// .slide_direction {
//   display: flex;
//   justify-content: space-between;
// }
