.languages-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 10px;
  justify-items: center; /* Center items in their grid cells */
  justify-content: center; /* Center the entire grid container */
  padding: 20px;
}

.languages-list button {
  width: 100%; /* Make buttons fill the grid cells */
}

@media (max-width: 768px) {
  .languages-list {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 items per row on small screens */
  }
}

@media (max-width: 480px) {
  .languages-list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row on very small screens */
  }
}

/* Style for the job options container */
.job-options {
  display: flex; /* Use Flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 20px; /* Space between the boxes */
  height: 40vh; /* Make the container fill the full viewport height */
}

/* Style for each job box */
.find-a-job,
.hire-now {
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height */
  display: flex; /* Use Flexbox for centering text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  border: 2px solid var(--first-color); /* Add a border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: var(--secondary-color);
  transition: transform 0.3s, background-color 0.3s; /* Smooth hover effect */
  cursor: pointer;
  text-align: center; /* Center text alignment for multi-line content */
}

/* Hover effect for the boxes */
.find-a-job:hover,
.hire-now:hover {
  background-color: var(--text-color);
  color: var(--hover-text-color);
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.job-options .nav__link {
  text-decoration: none; /* Remove underline */
  font-size: 1.5rem; /* Font size for the text */
  font-weight: bold;
  color: var(--title-color);
}

.find-a-job:hover .nav__link,
.hire-now:hover .nav__link {
  color: var(--hover-text-color); /* Change the text color */
}

.job-options .nav__link:hover {
  color: var(--hover-text-color);
}
