.languages-list button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none; /* Remove the border */
    background-color: var(--second); /* Default background */
    color: var(--title); /* Default text color */
    border-radius: 5px; /* Optional for rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: var(--first) !important;
      color: white;
    }
  }
  
  /* When the button has the "primary" class */
  .languages-list button.primary {
    background-color: var(--first);
    color: white;
  }
  
  /* Default (non-primary buttons) */
  .languages-list button:not(.primary) {
    background-color: var(--second);
    color: var(--title);
  }

.language-selection {
  padding: 1rem;
  text-align: center;
}

.languages-list {
  display: grid;
  row-gap: 0px; 
  grid-template-columns: repeat(4, 1fr); /* Default for mobile */
}

/* For screens larger than 768px (tablet layout) */
@media (min-width: 768px) {
  .languages-list {
    grid-template-columns: repeat(5, 1fr); /* 5 buttons per row */
  }
}

/* For screens larger than 1024px (desktop layout) */
@media (min-width: 1024px) {
  .languages-list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, 1fr)
    );
  }
}
