.language-toggle {
    margin-left: auto;
    margin-right: 1rem;
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .language-toggle:hover {
    background-color: var(--title-color);
    color: var(--background-color);
  }
  
  .language-options button {
    margin-right: 10px;
  }