.nav__logo-image {
  height: 50px;
}

.custom-navbar {
  background-color: var(--first-color);
  color: var(--text-color);
  .nav-link {
    color: #fff;
    &:hover {
      color: #ddd;
    }
  }
}

.menu-modal {
  position: fixed; /* Change to fixed positioning */
  top: 75px; /* Adjust this value to match the height of your header */
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .modal-content {
    background-color: var(--secondary-color);
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
  }

  .sub-menu-item {
    width: 450px;
    // height: 100px;
    border: 2px solid var(--first-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    p {
      color: green;
      font-size: 1rem;
      margin: 0;
      line-height: 1.5;
      word-wrap: break-word;
      overflow-wrap: break-word; 
      width: 100%; 
      box-sizing: border-box; 
      white-space: normal;
    }
  }
}
