.custom-navbar {
  background-color: var(--header-color);

  .nav-link {
    color: #ffffff !important;
    margin-top: 13px;
    &:hover {
      color: var(--hover-text-color) !important;
    }
    &.active {
      font-weight: bold;
      color: var(--title-color) !important;
    }
  }

  .nav__logo-image {
    height: 50px;
  }

  .custom-dropdown {
    background-color: #343a40;
    border: none;

    .dropdown-item {
      color: #ffffff !important;

      &:hover {
        background-color: #495057;
      }
    }
  }

  .get-demo-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    .get-demo-button {
      display: inline-block;
      margin-right: 10px;
      background-color: purple;
    }
    .get-demo-btn {
      display: none;
    }
  }
  

  .get-demo-btn {
    padding-right: 1rem;
    button {
      background-color: green;
      border: none;

      &:hover {
        background-color: red;
      }
    }
  }
}
