.header {
  width: 100%;
  background-color: var(--header-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Mobile Menu */
.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  background-color: var(--header-color);
  color: var(--title-color);
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  transform: translateX(100%); /* Hidden by default */
  z-index: 999;
}

.nav__menu.show-menu {
  transform: translateX(0); /* Visible when the class is added */
  color: var(--title-color);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin: 1rem 0;
}

.nav__link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 0.7rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav__cta:hover {
  background-color: var(--first-color);
  color: var(--title-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Dropdown Menu */
.dropdown__toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown__icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.dropdown__icon.rotate {
  transform: rotate(180deg);
}

.nav__submenu {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem); /* Offset below the menu item */
  left: 0;
  background-color: var(--header-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.5rem 0;
  z-index: var(--z-fixed);
}

.nav__submenu.show-submenu {
  background-color: var(--header-color);
}

.nav__submenu-item a {
  color: var(--title-color);
  background-color: var(--header-color);
  display: block;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
  transition: color 0.3s;
  padding: 0.5rem 1rem; /* Adjust padding for alignment */
}

.nav__submenu-item a:hover {
  color: var(--first-color);
  background-color: var(--header-color);
}

/* Mobile Menu Close Button */
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile Toggle Button */
.nav__toggle {
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
  display: block;
}

/* Desktop View (768px and above) */
@media (min-width: 768px) {
  .nav__menu {
    position: static;
    transform: none; /* Disable transform for desktop view */
    flex-direction: row;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .nav__menu.show-menu {
    transform: none; /* Prevent transform styles from affecting desktop */
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    //   width: 100%;
    display: inline-flex;
  }

  .nav__item {
    margin: 0 1rem;
  }

  .nav__toggle,
  .nav__close {
    display: none; /* Hide toggle button on desktop */
  }

  .nav__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--header-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    z-index: 1000;
  }

  .nav__item.dropdown:hover .nav__submenu {
    display: block;
  }
}

/* General Logo Styling */
.nav__logo-image {
    height: 50px;
}