################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DuutyApp/.vs/DuutyApp
/DuutyApp/DuutyApp.Server/obj
/DuutyApp/DuutyApp.Server/Properties/launchSettings.json
/DuutyApp/DuutyApp.Server/bin/Debug/net8.0
/DuutyApp/DuutyApp.Server/bin/Release/net8.0
/DuutyApp/duutyapp.client/obj/Release
/DuutyApp/DuutyApp.Server/Properties
/DuutyApp/DuutyApp.Server/DuutyApp.Server.csproj.user
/DuutyApp/DuutyApp.Data/obj
/DuutyApp/DuutyApp.Data/bin/Debug/net8.0
/DuutyApp/DuutyApp.Data/bin/Release/net8.0
/DuutyApp/.vs/ProjectEvaluation

/DuutyApp/duutyapp.client/certificates
/DuutyApp/duutyapp.client/obj/Debug
/DuutyApp/duutyapp.client/obj/Debug/package.g.props
/DuutyApp/DuutyApp.Interfaces/bin/Debug/net8.0
/DuutyApp/DuutyApp.Interfaces/obj
/DuutyApp/DuutyApp.Service/bin/Debug/net8.0
/DuutyApp/DuutyApp.Service/obj
/DuutyApp/DuutyApp.Service/obj/Debug/net8.0/ref/DuutyApp.Service.dll
