################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DuutyApp/.vs/DuutyApp
/DuutyApp/DuutyApp.Server/obj
/DuutyApp/DuutyApp.Server/Properties/launchSettings.json
/DuutyApp/DuutyApp.Server/bin/Debug/net8.0
