################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/**
**/.idea/**
**/.vs/**
**/Properties/launchSettings.json

/**/*.csproj.user

**/bin/**
**/obj/**

**/node_modules
**/dist
**/build

terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

plan.out
plan.json
**/.terraform.lock.hcl
**/*-lock.json
